<header class="assign-header">
  <div class="d-flex justify-content-between" >
      <div class="d-flex align-items-center">
          <span class="assign-logo">
              <img src="assets/images/circle.png">
              <span> MINIMALLITE </span>
          </span>
          <button class="assign-icon-button ml-2">
              <i class="fas fa-bars"> </i>
          </button>
      </div>
      <div class="d-flex">
          <div>
              <button class="assign-icon-button assign-icon-button-blue ml-2" style="margin-top: 0.65rem;">
                  <i class="fas fa-search"> </i>
              </button>
          </div>

          <div class="profile-btn">
              <span class="assign-user-name"> Welcome User </span>
              <img src="assets/images/profile.png">
          </div>

      </div>
  </div>
</header>
