  <div id="menu" class="ril-menu">
    <div class="ril-menu-block">
      <a class="menu-user">
        <span class=""> Juliya Brus </span>
      </a>
      <div class="ril-menu-block">
        <a class="ril-menu-link" [routerLink]="['/dashboard']" routerLinkActive="selected">
          <span class=""> Dashboard </span>
        </a>
        <a class="ril-menu-link" [routerLink]="['/dashboard']" routerLinkActive="selected">
          <span class=""> App </span>
        </a>
        <a class="ril-menu-link" [routerLink]="['/dashboard']" routerLinkActive="selected">
          <span class=""> Mailbox </span>
        </a>
        <a class="ril-menu-link" [routerLink]="['/dashboard']" routerLinkActive="selected">
          <span class=""> UI Elements </span>
        </a>
        <a class="ril-menu-link" [routerLink]="['/dashboard']" routerLinkActive="selected">
          <span class=""> Widgets </span>
        </a>
        <a class="ril-menu-link" [routerLink]="['/dashboard']" routerLinkActive="selected">
          <span class=""> Layout Options </span>
        </a>
        <a class="ril-menu-link" [routerLink]="['/dashboard']" routerLinkActive="selected">
          <span class=""> Box </span>
        </a>
        <a class="ril-menu-link" [routerLink]="['/dashboard']" routerLinkActive="selected">
          <span class=""> Charts </span>
        </a>
        <a class="ril-menu-link" [routerLink]="['/dashboard']" routerLinkActive="selected">
          <span class=""> Forms </span>
        </a>
        <a class="ril-menu-link" [routerLink]="['/dashboard']" routerLinkActive="selected">
          <span class=""> Tables </span>
        </a>
      </div>
    </div>
  </div>
