.ril-card {
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
  padding: 1rem;
  background: #fff;
  border-radius: 3px;
}
.profile-btn {
  cursor: pointer;
  height: 55px;
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.profile-btn img {
  width: 35px;
  margin-left: 0.5rem;
}
.text-1 {
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 400;
  color: #278290;
}
.text-2 {
  font-size: 0.9rem;
  line-height: 1.5;
  font-weight: 400;
  color: #278290;
}

.tc-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tc-container__child:nth-child(4) {
  flex: 0 1 25%;

  padding: 1rem;
}
.tc-container__child:not(:nth-child(4)) {
  flex: 0 1 25%;

  padding: 1rem;
  border-right: 1px solid #b1d6dc;
}
